@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --beige-100: #f8f4f0;
  --beige-500: #98908b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-beige-100: var(--beige-100);
  --color-beige-500: var(--beige-500);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
